*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos Gerais */
header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9548;
  gap:1rem;
  z-index:1;
  box-shadow: 1px 1px 1px rgb(105, 105, 105);
}
.logo{
  display: block;
  position: relative;
  right: 40px;
  max-width: 300px;
  margin-left:50px ;
  margin-bottom: 0.5rem;
  bottom: 1rem;
}

.nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.busca{
  display: block;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  top: .5rem;
}
#buscar{
  display: block;
  width: 567px;
  height: 42px;
  border-radius: 5px;
  border-color: black;
  padding: 0 10px;
}
@media(max-width:1060px){
  #buscar{
    width: 500px;
  }
}

.menu{
  display: inline-block;
  position: relative;
  top: .9rem;
  padding: 0 .5rem;
}
.dropdown-content{
  display: none;
  position: absolute;
  top: .7rem;
  background-color: #FF9548;
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;
  min-width: 160px;
  box-shadow: 1px 8px 16px  rgb(0,0,0,0.2);
  
}
.dropdown-content a{
  position: absolute;
  text-align: start;
  white-space: nowrap;
  top: .1rem;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.dropdown-content a:hover{
  background-color: #f6b17fa5;
  transition: .5s;
}
.menu:hover .dropdown-content{
  display: block;
}
.dropdown-content2{
  display: none;
  position: absolute;
  top: .7rem;
  background-color: #FF9548;
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;
  min-width: 160px;
  box-shadow: 1px 8px 16px  rgb(0,0,0,0.2);
}
.dropdown-content2 a{
  position: absolute;
  top: .1rem;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.dropdown-content2 a:hover{
  background-color: #f3a9742e; 
  transition: .5s;
}
.menu:hover .dropdown-content2{
  display: flex;
}
.text-left{
  text-align: left;
}
.p-6{
  padding: 1.4rem
}
.flex{
  display: flex;
}
.w-32{
  width: 5rem;
}
.items-start{
  align-items: flex-start;
}
.flex-col{
  flex-direction: column;
}
.flex{
  display: flex;
}
.mb-6{
  margin-bottom: 1.5rem;
}
div{
  display: block;
}

.menu a{
  color: black;
  position: relative;
  bottom:1.1rem;
  font-weight: bold;
  gap: .5rem;
}
#botao{
  display: block;
  position: relative;
  left: 26.3rem;
  bottom: 40.1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}
@media(max-width:1060px){
  #botao{
    left: 22.1rem;
  }
}

#botao[type=button]{
  padding: 9.9px 50.3px;
  background-color: black;
  border-end-end-radius:.2rem;
  border-start-end-radius: .2rem ;
  border-end-start-radius:.4rem ;
}
.entre{
  display: flex;
  position: relative;
  bottom: 1.3rem;
  padding: 10px 25px;
  border-radius:.2rem;
  right: .2rem;
  background-color: black;
}
a{
  display: flex;
  line-break: .1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

button{
  margin: 10px;
}
.conteudo2{
  display: block;
  margin-top: 10rem;
  padding-top: 20rem;
  justify-content: center;
}

/* LINKS */
.principal{
  display: flex;
  margin-top: 10%;
  justify-content:center;
  align-items: center;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-family: Arial, Helvetica, sans-serif;

}

.links_num{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  position: relative;
  bottom: 8rem;
}
.links_num a{
  color: black;
}

.links a > i{
  display: flex;
  margin-left: .5rem;
  font-size: 1.67rem;
  align-items: center;
  color: black;
}

.smartphone, .games, .tvs, .impressora, .ver_todas_as_categorias{
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 4rem;
  border-bottom: .2rem solid #FF9548;
}
span{
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

/* Grid de Produtos */

.grid-produto{
  display: block;
  padding-top: 1rem;
  align-items: center;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 208px;
  gap: 19px;
}

@media(max-width:1060px){
  .grid-container{
    padding: 100px 72px;
  }
}
.product{
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 0.5px solid #0000006a;
  padding: 90px 1px;
  cursor: pointer;
}
.product:hover{
  box-shadow: 0px 0.5px 4px rgb(0, 0, 0);
}

h2{
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h4{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

}
div .product > p{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* RODAPÉ */

.rodape{
  display: block;
  max-width: 100%;
  box-shadow: 2px 2px 2px rgb(105, 105, 105);
  background-color: #0c0c0cf8;
}

.categorias_rodape{
  display: flex;
  padding-top:2rem;
  justify-content: space-around;
}

.links_rodape{
  display: block;
}

.destaques h1, .O-DD h1, .botao-duvidas h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  color: #ff9448;
  font-weight: bold;
}

.categorias_rodape  a{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.botao-duvidas a{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FF9548;
}
.botao-duvidas h1{
  align-items: center;
  text-align: center;
}

hr{
  margin: 0 auto;
  text-align: center;
  width: 77%;
}

.rodape .meio h1{
  display: flex;
  justify-content: center;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;

}

.meio p{
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.rede {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 90px;
}
.bi-facebook:hover{
  color: blue;
}

.bi-twitter-x:hover{
  color: rgb(68, 67, 67);
}

.bi-instagram:hover{
  color:rgb(187, 46, 152);
}

.bi-youtube:hover{
  color: red;
}
.bi-android2:hover{
  color: rgb(72, 235, 72);
}

.bi-apple:hover{
  color: lightgrey;
}